In [1]:
import pandas as pd

# data loading 

file_path = "./Resources/shopping_data.csv"
df_shopping = pd.read_csv(file_path, encoding = "ISO-8859-1")
df_shopping.head()

   CustomerID Card Member   Age  Annual Income  Spending Score (1-100)
0           1         Yes  19.0          15000                    39.0
1           2         Yes  21.0          15000                    81.0
2           3          No  20.0          16000                     6.0
3           4          No  23.0          16000                    77.0
4           5          No  31.0          17000                    40.0

In [2]:
df_shopping.columns

Index(['CustomerID', 'Card Member', 'Age', 'Annual Income',
       'Spending Score (1-100)'],
      dtype='object')

In [3]:
# List dataframe data types

df_shopping.dtypes

CustomerID                  int64
Card Member                object
Age                       float64
Annual Income               int64
Spending Score (1-100)    float64
dtype: object

In [4]:
# Remove null

for column in df_shopping.columns:
    print(f"Column {column} has {df_shopping[column].isnull().sum()} null values")

Column CustomerID has 0 null values
Column Card Member has 2 null values
Column Age has 2 null values
Column Annual Income has 0 null values
Column Spending Score (1-100) has 1 null values

In [5]:
# drop null rows

new_df_shopping = df_shopping.dropna()

In [6]:
print(f"Duplicate entries:{new_df_shopping.duplicated().sum()}")

Duplicate entries:0

In [7]:
new_df_shopping.drop(columns=['CustomerID'], inplace = True)

new_df_shopping.head()

/Users/jguo/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

  Card Member   Age  Annual Income  Spending Score (1-100)
0         Yes  19.0          15000                    39.0
1         Yes  21.0          15000                    81.0
2          No  20.0          16000                     6.0
3          No  23.0          16000                    77.0
4          No  31.0          17000                    40.0

In [9]:
def changeGenre(member):
    if member == "Yes":
        return 1
    else:
        return 0
    
new_df_shopping["Card Member"] = new_df_shopping["Card Member"].apply(changeGenre)
new_df_shopping.head()

<ipython-input-9-6566fb66d5dd>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_shopping["Card Member"] = new_df_shopping["Card Member"].apply(changeGenre)

   Card Member   Age  Annual Income  Spending Score (1-100)
0            0  19.0          15000                    39.0
1            0  21.0          15000                    81.0
2            0  20.0          16000                     6.0
3            0  23.0          16000                    77.0
4            0  31.0          17000                    40.0

In [10]:
df_shopping["Annual Income"] = df_shopping["Annual Income"] / 1000

df_shopping.head()

   CustomerID Card Member   Age  Annual Income  Spending Score (1-100)
0           1         Yes  19.0           15.0                    39.0
1           2         Yes  21.0           15.0                    81.0
2           3          No  20.0           16.0                     6.0
3           4          No  23.0           16.0                    77.0
4           5          No  31.0           17.0                    40.0

In [12]:
new_df_shopping["Annual Income"] = new_df_shopping["Annual Income"]

<ipython-input-12-bb0a8923ce85>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df_shopping["Annual Income"] = new_df_shopping["Annual Income"]

In [13]:
output_file_path = "./Resources/shopping_data_cleaned.csv"
new_df_shopping.to_csv(output_file_path, index=False)